

.card {
    width: 220px;
    padding: 2em;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    color: black;
    line-height: 10px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    float: left;
    margin-right: 2em;
    align-items: "center";
}

.purple {
    background: linear-gradient(150deg, #796c77, #250b69 80%);
}

.green {
    background: linear-gradient(150deg, #39ef74, #4600f1 100%);
}

.yellow {
    background: linear-gradient(150deg, #c8d83c, #323036 100%);
}

.white {
    background: linear-gradient(150deg, #ffffff 95%, #323036 100%);
}